.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand .container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar .brand .toggle{
    display: none;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.navbar ul li a{
   text-decoration: none;
   color: #0077b6;
   font-size: 1.2rem;
   transition: all .5s ease-in-out;
}

.navbar ul li a:hover{
    color: black;
}

.NavLiActiveA{
    color: black;
    font-weight: 900;
}

.navbar button{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    color: white;
    background-color: #48cae4;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    transition: all .3s ease-in-out;
}

.navbar button:hover{
    background-color: #023e8a;
}